<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>Tart</string>
	<key>CFBundleDisplayName</key>
	<string>Tart</string>
	<key>CFBundleIdentifier</key>
	<string>org.cirruslabs.tart</string>
	<key>CFBundleExecutable</key>
	<string>tart</string>
  <key>LSApplicationCategoryType</key>
  <string>public.app-category.developer-tools</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>AppIcon.png</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
  <key>NSLocalNetworkUsageDescription</key>
  <string>Access to OCI registries on the local network</string>
</dict>
</plist>
