name: Build

on:
  push:

permissions:
  contents: read

jobs:
  build:
    name: Build
    runs-on: ghcr.io/cirruslabs/macos-runner:tahoe
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v5
      - name: Build
        run: |
          export COMPILATION_CACHE_ENABLE_CACHING=YES
          export COMPILATION_CACHE_REMOTE_SERVICE_PATH="$HOME/.cirruslabs/omni-cache.sock"
          export COMPILATION_CACHE_ENABLE_PLUGIN=YES
          export COMPILATION_CACHE_ENABLE_INTEGRATED_QUERIES=YES
          export COMPILATION_CACHE_ENABLE_DETACHED_KEY_QUERIES=YES
          export SWIFT_ENABLE_COMPILE_CACHE=YES
          export SWIFT_ENABLE_EXPLICIT_MODULES=YES
          export SWIFT_USE_INTEGRATED_DRIVER=YES
          export CLANG_ENABLE_COMPILE_CACHE=YES
          export CLANG_ENABLE_MODULES=YES
          swift build --build-system swiftbuild --product tart
