name: Build (No Cache)

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    name: Build tart (no cache)
    runs-on: ghcr.io/cirruslabs/macos-runner:tahoe
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v5
      - name: Build
        run: swift build --build-system swiftbuild --product tart
